<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Stories</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
                    <li><a href="https://instagram.com/notreallysai">instagram</a></li>
                    <li><a href="https://t.me/notreally">telegram</a></li>
				</ul>
			</footer>
		</body>
	</html>